# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.output
.env
dist

# Node dependencies
node_modules

# Wrangler / Cloudflare
.wrangler
.dev.vars

# Yarn (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Logs
logs
*.log
*.log*

# Misc
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.fleet
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test-results/
playwright-report/

.unlighthouse/

/.archive/archive

.direnv/

# Local env files
.env
.env.*
!.env.example
