.logo-container {
	display: flex;
	margin: 0 4vw 2vh;
	position: sticky;
	float: left;
  }

  .logo-container:hover {
	text-decoration: none;
  }

  .logo {
    width: min(15vw, 125px);
    height: auto;
	animation: fadein 0.28s ease-out, slidein-top 0.28s ease-out;
	justify-self: center;
  }
  
  .logo-blur {
    width: min(15vw, 125px);
    height: auto;
	filter: blur(10px);
	position: absolute;
	opacity: 0.1;
	transition: opacity 0.28s ease-in-out;
  }
  
  .logo-container:hover .logo-blur {
	opacity: 0.6;
  }
  
  .logo-link {
	text-decoration: none;
	background-color: transparent;
  }
  
  .slide-enter-active {
	animation: fadein 0.28s ease, slidein-top-10 0.28s ease-out;
  }
  
  .slide-leave-active {
	transition: all 0.15s ease-in;
  }
  
  .slide-enter-from,
  .slide-leave-to {
	filter: blur(20px);
	opacity: 0;
  }
  
  header {
	line-height: 1.5;
	min-height: 10vh;
	display: flex;
	place-items: center;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  header .wrapper {
	animation: fadein 0.28s ease-out, slidein-top 0.28s ease-out;
  }
  
  nav {
	margin: auto;
	box-sizing: content-box;
	content: "";
	clear: both;
	display: table;
	font-size: min(3vw, 1rem);
	text-align: center;
	margin-top: 1.5vh;
	padding: 0.55vh 0.2vw;
	background: rgb(71 71 71 / 40.4%);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgb(121 121 121 / 10%);
	backdrop-filter: saturate(180%) blur(20px);
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	border: 1px solid rgb(121 121 121 / 51%);
	transition: box-shadow 0.28s ease-in-out;
  }
  
  nav:hover {
	box-shadow: 0 4px 30px rgb(121 121 121 / 25%);
  }
  
  nav a.router-link-exact-active {
	color: var(--color-text);
  }
  
  nav a.router-link-exact-active:hover {
	background-color: transparent;
  }
  
  nav a {
	display: inline;
	padding: 0 min(3vw, 1rem);
	border-left: 1px solid var(--color-border);
  }

  @media (hover: hover) {
	nav a:hover {
	  text-decoration: none;
	  background-color: hsl(189deg 65% 21% / 0%);
	}
  }
  
  nav a:first-of-type {
	border: 0;
  }
  
  /* @mixin for-phone-only { */
  @media (max-width: 599px) {
	/* Empty */
  }
  
  /* @mixin for-tablet-portrait-up { */
  @media (min-width: 600px) {
	/* Empty */
  }
  
  /* @mixin for-tablet-landscape-up { */
  @media (min-width: 900px) {
	/* Empty */
  }
  
  /* @mixin for-desktop-up { */
  @media (min-width: 1200px) {
	/* Empty */
  }
  
  /* @mixin for-med-desktop-up { */
  @media (min-width: 1800px) {
	/* Empty */
  }
  
  /* @mixin for-big-desktop-up { */
  @media (min-width: 1921px) {
	/* Empty */
  }