@import url('./base.css');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

a,
.blue {
  text-decoration: none;
  color: rgb(47 112 172);
  transition: 0.4s;
}


.green {
  text-decoration: none;
  color: hsl(160deg 100% 37%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    background-color: hsl(189deg 65% 21% / 20%);
  }
}
